
services:
  llm-gateway-service:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
      - ../sentiric-certificates:/sentiric-certificates:ro
    environment:
      - ENV=development
      - RUST_LOG=debug
      # Mock Engine'e yönlendir
      - LLM_LLAMA_SERVICE_GRPC_URL=http://mock-llm-engine:50051
    command: cargo run --release
    depends_on:
      - mock-llm-engine

  # Mock LLM Engine: gRPC testi için
  mock-llm-engine:
    image: ghcr.io/bavix/gripmock
    container_name: sentiric-mock-llm
    networks:
      - sentiric-net
    ports:
      - "50051:50051"
    volumes:
      - ../sentiric-contracts/proto/sentiric/llm/v1:/proto
    # contracts içindeki proto dosyasına göre mock oluştur
    command: ["/proto/llama.proto"] 
